body {
	background-color: #F2F5F7;
	font-family: 'Open Sans',Arial,sans-serif;
}

.container {
	width: 94%;
	margin: 0 auto;
}

a {
	text-decoration: none;
	
	
}

.cabecalhoPrincipal {
	background-color: rgb(10, 9, 9);
	padding: 20px 0;
}

.cabecalhoPrincipal-logo {
	padding-bottom: 20px;
}

.cabecalhoPrincipal-titulo a {
	text-decoration: none;
	color: inherit;
}


.cabecalhoPrincipal-nav-link {
	padding: 10px;
	margin: 10px;
	margin-bottom: 15px;
	color: #9799A6;
	background-color: #FFF;
	text-decoration: none;
	transition: .5s;
	display: block;
	border-radius: 4em;
	border-bottom: 1px solid #9799A6;
}